@import url('https://fonts.googleapis.com/css?family=Karla|Roboto&display=swap');
@import '~bulma/sass/utilities/initial-variables';

$indigo: #667eea;
$pink: #ed64a6;
$primary: $indigo;
$info: $pink;
$family-primary: 'Karla', $family-sans-serif;
$family-secondary: 'Roboto', $family-sans-serif;

@import '~bulma/bulma.sass';

@import '~bulma-divider/src/sass/index.sass'
