@import './bulma.scss';
@import '~@glorious/demo/dist/gdemo.min.css';
@import '~prismjs/themes/prism-tomorrow.css';

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.header {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.no-pad-bottom {
  padding-bottom: 0px !important;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.runkit iframe {
  float: right !important;
}
